.main-content{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}
.nav-menu-left{
  display: inline-flex;
  width: 300px;
  height: 100%;
}
.nav-menu-right{
  display: inline-flex;
  position: absolute;
  top: 0;
  width: calc(2132px - 300px);
  height: 100%;
  overflow: auto;
}
form{
  width: 270px;
  margin: 0 0 0px 0;
}
form input, form label {
  /*font-size: 12px;*/
  width: 100%;
}
form .card-content{
  padding: 0 ;
}
form .card-action{
  position: relative;
  padding: 0px 10px;
  display: inline-flex;
}
div.dialog{
  position: absolute;
  background: white;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  padding: 17px;
}
.dialog h4 {
  margin: 0px 0px 10px 0px;
}
.algoritmo{
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  background: white;
  border-radius: 5px;
  border: solid 1px #b1b1b1;
}
.float{
  position: fixed;
  margin: auto;
  top: 50px;
  left: calc(50% - 28px);
}
